body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}



h2 .task-num {
  border-radius: 20px;
  border: 2px solid #2a2f36;
  color: #2a2f36;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
}


.btn {
  background-color: #12c0dd;
  border: 1px solid #12c0dd;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 12px;
  height: 40px;
  outline: none;
  transition: 0.2s;
}

.btn:hover {
  background-color: #0dd6f8;
  border-color: #0dd6f8;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
}

.task-list.complete-list li {
  border-left-color: #999;
  opacity: .5;
}
.task-list {
    padding-left: 0;
}

.btn-task {
    border: 1px solid #2a2f36;
    font-size: 12px;
    border: 2px solid #2a2f36;
    background-color: #333333;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    outline: none;
    transition: 0.2s;
}

.btn-edit {
  margin-right: 10px;
}

.btn-task:hover {
  background-color: #535151;
  border-color: #535151;
}